html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically by default */
  align-items: center;
  text-align: center;
  font-family: Lato, "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  min-width: 365px!important;
}



input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  max-width: 90% !important;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  padding-top: 0px;
  font-size: 4em;
  font-weight: normal;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff; /* White glow */
  margin: 5px auto;
}

h2 {
  padding-top: 40px;
  font-size: 2.5em;
  font-weight: normal;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff; /* White glow */
  margin: 5px auto;
}

#getWaitlistContainer {
  width: 100vw!important;
  display: flex;
  align-items: center;
  justify-content: center;


}

.subheader {
  font-size: 30px;
  line-height: 58px !important;
  display: block;
  margin-top: 20px;
}

.hide {
  display: none;
}

.credit {
  font-size: 10px;
  color: white;
  position: relative;
  top: 50px;
}

p {
  font-size: 22px;
  line-height: 38px;
  margin-top: 20px;
  margin-bottom: 20px;    
  max-width: 600px;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

.attrib {
  font-size: 10px;
  color: white;
  position: relative;
  top: 250px;

}
input[name="email"] {
  text-align:center;
}

@media (max-width: 768px) {
    html, body {
      justify-content: flex-start; /* Align content to the top on mobile */
  
    }
    #getWaitlistContainer {

        /* left: -28px; */

      }
  }
